.intro {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
}
.recent-projects {
  height: auto;
  margin: 1rem;
  padding: 1rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  overflow: hidden;
}
